<p>
  {{user | json}}
</p>

<h1>Me</h1>

<p>
  Nome: {{user.nome}} <br />
  Idade: {{user.idade}} <br />
  Pele: {{user.pele}} <br />
</p>

<ul status="positive">
<h1>Conjunge</h1>
<li>dasdasd</li>
  <li>dasdasd</li>
  <li>dasdasd</li>
  <li>dasdasd</li>
</ul>

<ul [appVisible]="'negative'" [tabindex]="1">
<h1>Conjunge</h1>
<li>dasdasd</li>
  <li>dasdasd</li>
  <li>dasdasd</li>
  <li>dasdasd</li>
</ul>

<ul [appVisible]="'disabled'" [tabindex]="1">
  <li>dasdasd</li>
    <li>dasdasd</li>
    <li>dasdasd</li>
    <li>dasdasd</li>
  </ul>
