
.over {
  color: blue;
}

.nova {
  font-weight: bolder;
}

p[type="success"] {
  color: green;
}

p[type="warning"] {
  color: yellow;
}


po-button[p-kind="secondary"] {
  --border-radius: 40px;
  }

  po-button[p-kind="primary"] {
  --border-radius: 1px;
  }
